@import '../../colors.scss';

.menu{
    a{
        color:$primary;
        &:hover{
            color: $primary;
        }
        &:focus{
            color: $primary;
        }
    } 
}

.menu-item{
    color: #000 !important;
    &:active{
        color: $text !important;
        background: $primary !important;
    }
}

.dropdown-menu{
    width: 8rem !important;
}
