@import '../../colors.scss';

.toTop{
    cursor: pointer;
  position: fixed;
  z-index: 2;
  bottom: 120px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: $primary;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text;
  padding: auto;
}

@media (max-width:320px){
    .toTop{
        right: 3px;
    }
}