@import '../../colors.scss';

.navbar{
    margin: 0 !important;
    background-color: $text;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.navbar-brand{
    font-size: 25px !important;
    font-family: 'Muli', sans-serif;
    color: $primary !important;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    img{
        margin-right: 2.5px;
    }
}