$primary : #e65f5f;
$text:#ffffff;
$fire:#ff7f00bb;
$fireText:#ff7f0099;
$grass:#99ff66bb;
$grassText:#99ff6699;
$water:#b0e2ffbb;
$waterText:#b0e2ff99;
$normal:#ddccaabb;
$normalText:#ddccaa99;
$electric:#ffd700bb;
$electricText:#ffd70099;
$bug:#99cc33bb;
$bugText:#99cc3399;
$ice:#add8e6bb;
$iceText:#add8e699;
$fighting:#ff6a6abb;
$fightingText:#ff6a6a99;
$poison:#cc88bbbb;
$poisonText:#cc88bb99;
$rock: #cd853fbb;
$rockText: #cd853f99;
$flying:#baaaffbb;
$flyingText:#baaaff99;
$psychic:#ffb5c5bb;
$psychicText:#ffb5c599;
$ground:#deb887bb;
$groundText:#deb88799;
$ghost:#778899bb;
$ghostText:#77889999;
$dark:#a9a9a9bb;
$darkText:#a9a9a999;
$dragon:#ab82ffbb;
$dragonText:#ab82ff99;
$steel:#ccccccbb;
$steelText:#cccccc99;
$fairy:#ffb0ffbb;
$fairyText:#ffb0ff99;