@import './colors.scss';

.fire{
    background-color: $fire;
}

.fireText{
    background-color: $fireText;
}

.grass{
    background-color: $grass;
}

.grassText{
    background-color: $grassText;
}

.water{
    background-color: $water;
}

.waterText{
    background-color: $waterText;
}

.normal{
    background-color: $normal;
}

.normalText{
    background-color: $normalText;
}

.electric{
    background-color: $electric;
}

.electricText{
    background-color: $electricText;
}

.bug{
    background-color: $bug;
}

.bugText{
    background-color: $bugText;
}

.ice{
    background-color: $ice;
}

.iceText{
    background-color: $iceText;
}

.fighting{
    background-color: $fighting;
}

.fightingText{
    background-color: $fightingText;
}

.poison{
    background-color: $poison;
}

.poisonText{
    background-color: $poisonText;
}

.rock{
    background-color: $rock;
}

.rockText{
    background-color: $rockText;
}

.flying{
    background-color: $flying;
}

.flyingText{
    background-color: $flyingText;
}

.psychic{
    background-color: $psychic;
}

.psychicText{
    background-color: $psychicText;
}

.ground{
    background-color: $ground;
}

.groundText{
    background-color: $groundText;
}

.ghost{
    background-color: $ghost;
}

.ghostText{
    background-color: $ghostText;
}

.dark{
    background-color: $dark;
}

.darkText{
    background-color: $darkText;
}

.dragon{
    background-color: $dragon;
}

.dragonText{
    background-color: $dragonText;
}

.steel{
    background-color: $steel;
}

.steelText{
    background-color: $steelText;
}

.fairy{
    background-color: $fairy;
}

.fairyText{
    background-color: $fairyText;
}